<ion-header>
  <ion-toolbar>
    <ion-title>meditacao_page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slides pager="true" options="slideOpts" class="slide">
    <ion-slide>
      <h1>Bem vindo ao Tutorial de {{slide.esporte}}</h1>
    </ion-slide>
    <ion-slide>
      <h1>{{slide.video}}</h1>
    </ion-slide>
    <ion-slide>
      <div class="div">
        <h1 *ngFor="let passo of slide.passos">{{passo}}</h1>
        <!--<img *ngFor="let gif of slide.fotos" [src]="gif" alt="foto">-->
      </div>
    </ion-slide>
    <ion-slide>
      <div class="div">
        <ion-button (click)="navegar()" fill="clear" size="small">finalizar -></ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
