<ion-content [fullscreen]="true" class="swiper-no-swiping" color="warning">

  <div class="container top">
    <img src="/assets/icon/" alt="Logo">

    <ion-segment (ionChange)="segmentChanged($event)" value="login" mode="ios">
      <ion-segment-button value="login">
        <ion-label>Login</ion-label>
      </ion-segment-button>
      <ion-segment-button value="cadastrar">
        <ion-label>Cadastro</ion-label>
      </ion-segment-button>
    </ion-segment>

  </div>

  <ion-slides #slides>

    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Login</span>

        <ion-item class="itens ion-margin-top" lines="none">
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="email" placeholder="eduardo@gmail.com" [(ngModel)]="userLogin.email"></ion-input>
        </ion-item>

        <ion-item class="itens ion-margin-top" lines="none">
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" placeholder="123123" [(ngModel)]="userLogin.password"></ion-input>
        </ion-item>

        <ion-button class="button ion-margin-top" (click)="login()" color="ligth" expand="block" fill="solid">
          Entrar
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Cadastrar</span>

        <ion-item class="itens ion-margin-top" lines="none">
          <ion-label position="floating">Nome</ion-label>
          <ion-input type="text" placeholder="Eduardo Augusto Zampieri" [(ngModel)]="userRegister.nome"></ion-input>
        </ion-item>

        <ion-item class="itens ion-margin-top" lines="none">
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="email" placeholder="eduardo@gmail.com" [(ngModel)]="userRegister.email"></ion-input>
        </ion-item>

        <ion-item class="itens ion-margin-top" lines="none">
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" placeholder="123123" [(ngModel)]="userRegister.password"></ion-input>
        </ion-item>

        <ion-button class="button ion-margin-top" (click)="register()" color="ligth" expand="block" fill="solid">
          Cadastrar
        </ion-button>
      </div>
    </ion-slide>

  </ion-slides>

  <div class="totalFundoDinamic">
    <div class="fundoDinamic" [ngStyle]="{'background-position-x': fundoPosition + 'px'}"></div>

    <div class="ion-text-center">
      <span class="span">Aplicativo feito para fins de tratar a Ansiedade em estado LEVE</span>
    </div>

  </div>


  <!--<div class="center">
    <ion-card>
      <ion-card-header>
        <img src="assets/icon/imagem_ansiedade.jpeg" alt="logo">
      </ion-card-header>

      <ion-card-content>
        <ion-title class="title">Projeto Amparo</ion-title>

        <ion-item lines="none">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" [(ngModel)]="senha"></ion-input>
        </ion-item>
      </ion-card-content>

      <ion-button (click)="login()" expand="full" fill="outline" color="dark">Entrar</ion-button>
      <ion-button expand="full" fill="clear" color="dark">Cadastrar</ion-button>
    </ion-card>
  </div>-->
</ion-content>
