ion-content {
  --background: #000000;
}

.center {
  height: 100vh;
  display: flex;
  align-items: center;
}

.title {
  text-align: center;
  color: white;
}

ion-button {
  text-align: center;
  text-decoration-color: white;
}
