<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ titulo }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list *ngIf="!itens.length">
    <ion-item *ngFor="let item of [0, 1, 2]">
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item-sliding *ngFor="let item of itens">
      <ion-item [routerLink]="['/edit-page', item.id]">
        <ion-label>
          {{item.evento}}
          <p>{{item.descricao}}</p>
        </ion-label>

        <ion-note slot="end">{{item.data | date:'short'}}</ion-note>

        <ion-item-options slide="end" (click)="deleteItem">
          <ion-item-option color="danger">
            <ion-icon slot="top" name="trash"></ion-icon>
            Excluir
          </ion-item-option>
        </ion-item-options>
      </ion-item>
    </ion-item-sliding>

  </ion-list>


  <!--<ion-item-sliding>-->
  <!--<ion-item *ngFor="let item of lista">
      <ion-label>{{ item.evento }}</ion-label>
      <ion-datetime [value]="item.data" min="2021-10" max="2030-12" displayFormat="DD. MMM, YYYY"
        monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez">
      </ion-datetime>
      <ion-label>{{ item.descricao }}</ion-label>
    </ion-item>-->

  <!--<ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="light">
          <ion-icon name="arrow-back-circle"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
          <ion-fab-button (click)="callFirst()"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="callSecond()"><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="callThird()"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
        </ion-fab-list>
      </ion-fab>-->

  <!--<ion-item-options side="end">
        <ion-item-option routerLink="/edit-page">Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>-->

  <!--<ion-item-sliding>
      <ion-item>
        <ion-label>Item</ion-label>
        <ion-datetime value="2021-10-15" min="2021-10" max="2030-12" displayFormat="DD. MMM, YYYY"
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez">
        </ion-datetime>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label>Item</ion-label>
        <ion-datetime value="2021-10-15" min="2021-10" max="2030-12" displayFormat="DD. MMM, YYYY"
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez">
        </ion-datetime>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label>Item</ion-label>
        <ion-datetime value="2021-10-15" min="2021-10" max="2030-12" displayFormat="DD. MMM, YYYY"
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez">
        </ion-datetime>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label>Item</ion-label>
        <ion-datetime value="2021-10-15" min="2021-10" max="2030-12" displayFormat="DD. MMM, YYYY"
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez">
        </ion-datetime>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label>Item</ion-label>
        <ion-datetime value="2021-10-15" min="2021-10" max="2030-12" displayFormat="DD. MMM, YYYY"
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez">
        </ion-datetime>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label>Item</ion-label>
        <ion-datetime value="2021-10-15" min="2021-10" max="2030-12" displayFormat="DD. MMM, YYYY"
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez">
        </ion-datetime>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label>Item</ion-label>
        <ion-datetime value="2021-10-15" min="2021-10" max="2030-12" displayFormat="DD. MMM, YYYY"
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez">
        </ion-datetime>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label>Item</ion-label>
        <ion-datetime value="2021-10-15" min="2021-10" max="2030-12" displayFormat="DD. MMM, YYYY"
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez">
        </ion-datetime>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label>Item</ion-label>
        <ion-datetime value="2021-10-15" min="2021-10" max="2030-12" displayFormat="DD. MMM, YYYY"
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez">
        </ion-datetime>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>-->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light" (click)="add()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
