<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ titulo }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

    <ion-item-sliding *ngFor="let item of lista">
      <ion-item>
        <ion-label>{{ item.evento }}</ion-label>
        <ion-datetime [value]="item.data" min="2021-10" max="2030-12" displayFormat="DD. MMM, YYYY"
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez">
        </ion-datetime>
        <ion-label>{{ item.descricao }}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option routerLink="/edit-page">Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <!--<ion-item-sliding>
      <ion-item>
        <ion-label>Item</ion-label>
        <ion-datetime value="2021-10-15" min="2021-10" max="2030-12" displayFormat="DD. MMM, YYYY"
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez">
        </ion-datetime>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label>Item</ion-label>
        <ion-datetime value="2021-10-15" min="2021-10" max="2030-12" displayFormat="DD. MMM, YYYY"
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez">
        </ion-datetime>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label>Item</ion-label>
        <ion-datetime value="2021-10-15" min="2021-10" max="2030-12" displayFormat="DD. MMM, YYYY"
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez">
        </ion-datetime>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label>Item</ion-label>
        <ion-datetime value="2021-10-15" min="2021-10" max="2030-12" displayFormat="DD. MMM, YYYY"
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez">
        </ion-datetime>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label>Item</ion-label>
        <ion-datetime value="2021-10-15" min="2021-10" max="2030-12" displayFormat="DD. MMM, YYYY"
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez">
        </ion-datetime>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label>Item</ion-label>
        <ion-datetime value="2021-10-15" min="2021-10" max="2030-12" displayFormat="DD. MMM, YYYY"
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez">
        </ion-datetime>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label>Item</ion-label>
        <ion-datetime value="2021-10-15" min="2021-10" max="2030-12" displayFormat="DD. MMM, YYYY"
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez">
        </ion-datetime>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label>Item</ion-label>
        <ion-datetime value="2021-10-15" min="2021-10" max="2030-12" displayFormat="DD. MMM, YYYY"
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez">
        </ion-datetime>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label>Item</ion-label>
        <ion-datetime value="2021-10-15" min="2021-10" max="2030-12" displayFormat="DD. MMM, YYYY"
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez">
        </ion-datetime>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option>Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>-->

  </ion-list>

</ion-content>
