.metade {
  width: 30%;
  text-align: center;
  background-color: gray;
  margin: 0 auto;
  display: inline-block;
}

.metade2 {
  width: 70%;
  background-color: gray;
  margin: 0 auto;
  display: inline-block;
  align-items: center;
}

.principal {
  width: 100%;
  margin: 0 auto;
  height: 10%;
  background-color: gray;
  display: inline-block;
}
