.div {
  margin-left: 3%;
}

.divp {
  text-indent: 1.5em;
  margin-top: 0.83em;
  text-align: justify;
  word-break: break-all;
}

.primerp {
  margin-top: 0.83em;
  text-align: justify;
  word-break: break-all;
}
