.div {
  margin-left: 3%;
}

.divp {
  text-indent: 1.5em;
  margin-top: 0.83em;
  text-align: left;
  margin-right: 0.70em;
}

.primerp {
  margin-top: 0.83em;
  text-align: left;
  margin-right: 0.83em;
}

.divSair {

  //position: relative;
  margin-right: 2%;
  margin-left: 78%;
  height: 1%;
  margin-bottom: 8%;

  .bSair {
    position: absolute;
    right: 0;
    left: 70%;
    width: 25%;
  }
}

.title {
  position: absolute;
}

.sizeSlide {
  width: 90%;
  margin-bottom: 5%;
}
