<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      Sobre
    </ion-title>
    <div class="divSair">
      <ion-button class="bSair" (click)="logOut()" fill="clear" size="small">
        Sair
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!-- -------------------------------------------------------------- -->

  <div class="div">
    <h1>O que é?</h1>

    <p class="primerp">
      O medo é uma emoção básica presente em muitas culturas e em muitas espécies, despertado quando o indivíduo se
      depara com uma situação observável de perigo. Sua importante função evolutiva garante a sobrevivência dos
      indivíduos, uma vez que frente a uma ameaça conhecida desperta-se uma reação de “luta ou fuga”.
    </p>

    <p class="divp">
      A ansiedade é uma apreensão difusa, vaga sem que haja um objeto ou uma situação claramente definida. Perigos
      distantes ou antecipados originam reação ansiosa e menos intensa, com comportamentos diversificados que culminam
      em sintomas físicos e psíquicos.
    </p>

    <p class="divp">
      Na distinção entre esses sentimentos, o medo instala-se de forma súbita, enquanto a ansiedade tem um caráter mais
      insidioso, sendo patológica quando essas emoções se tornam disfuncionais e trazem prejuízos, bem como sofrimento
      para o indivíduo, com uma duração e intensidade consideráveis.
    </p>

    <p>
      MEDO- ameaça conhecida, externa, definida ou não conflituosa; caráter súbito
    </p>

    <p>
      ANSIEDADE- ameaça desconhecida, interna, vaga ou conflituosa; caráter insidioso
    </p>

    <p class="divp">
      Sintomas de Ansiedade
      Físicos: Autonômicos – hiperidrose, dilatação pupilar, síncope, taquicardia, formigamento de extremidades,
      reflexos aumentados. Motores – inquietação (marchar), tremores. Viscerais – diarreia, vertigem, náusea,
      perturbações estomacais (“borboletas”), urgência urinária, hesitação e polaciúria.
      Psíquicos: Afetam pensamento, percepção e aprendizado. O indivíduo distorce as percepções de tempo e de espaço e
      dos significados dos acontecimentos. Essas distorções interferem no aprendizado ao reduzirem a capacidade de
      concentração, a memória e a capacidade de estabelecer relações. Os indivíduos ansiosos apresentam atenção seletiva
      aos aspectos do seu ambiente para justificar seu medo e aumentar ansiedade.
      Círculo Vicioso – justificam medo, aumentam ansiedade pela resposta seletiva e estabelecem círculo vicioso de
      percepções distorcidas e ansiedade aumentada.
    </p>
  </div>

  <ion-slides pager="true" [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container sizeSlide">
        <img src="assets/icon/mapa_mental1.jpeg">
      </div>
    </ion-slide>

    <ion-slide>
      <div class="swiper-zoom-container sizeSlide">
        <img src="assets/icon/imagem_ansiedade.jpeg">
      </div>
    </ion-slide>

    <ion-slide>
      <div class="swiper-zoom-container sizeSlide">
        <img src="assets/icon/mapa_mental2.jpeg">
      </div>
    </ion-slide>
  </ion-slides>


</ion-content>
