<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
<!--
  <div class="pai">
    <div class="filho">
      <iframe class="video" src="https://www.youtube.com/embed/kYdciz35gm4" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="filho">
      <iframe class="video" src="https://www.youtube.com/embed/kYdciz35gm4" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <p class="parag">EAE rapaziadinha, suavidade pura? hoje eu to aqui pra apresentar um trampo dahora</p>
    </div>
    <div class="filho">
      <iframe class="video" src="https://www.youtube.com/embed/kYdciz35gm4" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
-->
<!--
  <ion-slides #slides pager="true" options="slideOpts" class="slide">
    <ion-slide>
      <h1>Slide Content1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide Content2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide Content3</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide Content4</h1>
    </ion-slide>
  </ion-slides>
-->
<ion-button href="" expand="block" fill="solid" color="primary" size="large">Meditação</ion-button>
<ion-button href="" expand="block" fill="solid" color="secondary" size="large">Meditação</ion-button>
<ion-button href="" expand="block" fill="solid" color="tertiary" size="large">Meditação</ion-button>
<ion-button href="" expand="block" fill="solid" color="success" size="large">Meditação</ion-button>
<ion-button href="" expand="block" fill="solid" color="warning" size="large">Meditação</ion-button>
<ion-button href="" expand="block" fill="solid" color="danger" size="large">Meditação</ion-button>
<ion-button href="" expand="block" fill="solid" color="light" size="large">Meditação</ion-button>
<ion-button href="" expand="block" fill="solid" color="medium" size="large">Meditação</ion-button>
<ion-button href="" expand="block" fill="solid" color="dark" size="large">Meditação</ion-button>

</ion-content>
