.pai {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  background-color: white;
}

.filho {
  width: 84%;
  height: 28%;
  margin: 8%;
  box-shadow: 5px 10px 8px #888888;
  align-items: center;
  align-content: center;
  background-color: white;
}

.video {
  width: 100%;
  height: 100%;
}

.parag {
  color: black;
}

.b1 {
  color: #6A5ACD;
}

.b2 {
  color: #836FFF;
}

.b3 {
  color: #6959CD;
}

.b4 {
  color: #4682B4;
}

.b5 {
  color: #4169E1;
}

.b6 {
  color: #1E90FF;
}

.b7 {
  color: #6495ED;
}

.b8 {
  color: 	#4682B4;
}

.b9 {
  color: #00BFFF;
}

.b10 {
  color: #87CEFA;
}
