<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
<!--
  <div class="pai">
    <div class="filho">
      <iframe class="video" src="https://www.youtube.com/embed/kYdciz35gm4" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="filho">
      <iframe class="video" src="https://www.youtube.com/embed/kYdciz35gm4" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <p class="parag">EAE rapaziadinha, suavidade pura? hoje eu to aqui pra apresentar um trampo dahora</p>
    </div>
    <div class="filho">
      <iframe class="video" src="https://www.youtube.com/embed/kYdciz35gm4" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
-->
<!--
  <ion-slides #slides pager="true" options="slideOpts" class="slide">
    <ion-slide>
      <h1>Slide Content1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide Content2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide Content3</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide Content4</h1>
    </ion-slide>
  </ion-slides>
-->
<div class="b1">
<ion-button *ngFor="let slide of slides" (click)="exibirSlides(slide)" expand="block" fill="solid" size="large">{{slide.esporte}}</ion-button>
</div>
<!--<div class="b2">
<ion-button href="yoga-page" expand="block" fill="solid" size="large">Yoga</ion-button>
</div>
<div class="b3">
<ion-button href="" expand="block" fill="solid" size="large">Meditação</ion-button>
</div>
<div class="b4">
<ion-button href="" expand="block" fill="solid" size="large">Meditação</ion-button>
</div>
<div class="b5">
<ion-button href="" expand="block" fill="solid" size="large">Meditação</ion-button>
</div>
<div class="b6">
<ion-button href="" expand="block" fill="solid" size="large">Meditação</ion-button>
</div>
<div class="b7">
<ion-button href="" expand="block" fill="solid" size="large">Meditação</ion-button>
</div>
<div class="b8">
<ion-button href="" expand="block" fill="solid" size="large">Meditação</ion-button>
</div>
<div class="b9">
<ion-button href="" expand="block" fill="solid" size="large">Meditação</ion-button>
</div>-->

</ion-content>
